.horoscope-form-display {
    display: flex;
    justify-content: center;
}

.horoscope-form {
    border: solid 1px #EB4D8D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 800px;
}

label {
  color: #9cd8cd;
    font-size: 1.5em;
    margin: 10px;
    text-align: left;
}

.horscope-form-input,
select,
.horoscope-form-submit {
    border-radius: 15px;
    height: 25px;
    margin: 5px;
    width: 400px;
}