.horoscope-form-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horoscope-form {
    align-items: center;
    border: solid 1px #EB4D8D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    top: 25%;
    padding: 20px;
    position: absolute;
    width: 800px;
}

label {
  color: #9cd8cd;
    font-size: 1.5em;
    margin: 10px;
    text-align: left;
}

.horoscope-form-submit {
    border-radius: 15px;
    box-shadow: 0px 0px 8px #fff;
    font-size: 1.2em;
    font-weight: bold;
    height: 30px;
    margin: 15px;
    opacity: 0.7;
    width: 400px;
}

.horoscope-form-submit:hover {
    box-shadow: 0px 0px 15px #fff;
    color: #EB4D8D;
}

.horscope-form-input,
select {
    border-radius: 15px;
    font-size: 1.1em;
    height: 40px;
    margin: 5px;
    width: 400px;
}
.errorMessage {
    color: #EB4D8D;
}