@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Lobster+Two|Poiret+One&display=swap');


.horoscope-details-display {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    font-size: 1.3em;
    margin: 20px;
    margin-top: 0px;
}

.horoscope-details {
    color: #9cd8cd;
    margin: 20px;
    padding: 15px;
    width: 600px;
}

.results-heading {
    margin-top: 15px;
}